.pok-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  padding: 40px 10px 10px 10px;
  background-color: #f6f8fc;
  border-radius: 20px;
  position: relative;
}

.pok-card-container:hover {
  background-color: #efefef;
}

.pok-card-container:hover .pok-card-img {
  transform: scale(1.15);
}

.pok-card-types {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.pok-card-type {
  // background-color: seagreen;
  border-radius: 5px;
  padding: 5px;
}

.pok-card-img {
  width: 90px;
  position: absolute;
  top: -40px;
  transition-duration: 100ms;
}